body{
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-image: linear-gradient(to right top, #0c1f24, #021e29, #001c2d, #001931, #091533);
}
#container{
    width: 400px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-image:linear-gradient(to right top, #f9fe09, #ffa720, #ff515f, #c52488, #4e2f8f);;
    height: 200px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
button{
    width: 50px;
    height: 50px;
    margin: 10px;
}
button:hover{
    cursor: pointer;
}
#purple_button{
    background-color:purple;
}
#red_button{
    background-color:red;
}#green_button{
    background-color:green;
}